/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,  
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 300px;
  margin: 20px auto;
}

.container .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Make the grid one column wide on small screens */
    margin: 10px auto;
  }

  .container .box {
    padding: 16px;
  }
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

@media (max-width: 480px) {
  img.socialIcon {
    height: 20px; /* Reduce the size of the social icons on very small screens */
    width: 20px;
  }
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  flex: 1 0 21%; /* Default to 4 items per row. */
  margin: 5px;
  background: #f8f9fa;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .skills-list li {
    /* On small screens, reduce to 2 items per row */
    flex: 1 0 46%;
  }
}

@media (max-width: 480px) {
  .skills-list li {
    /* On very small screens, reduce to 1 item per row */
    flex: 1 0 96%;
  }
}